<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/admin-style.css' %}">
    <title>haveASeat | Admin Panel</title>
</head>
<body>
    <div class="Container">
        <div class="Left-Side-Panel">
            <div class="Form-Heading">
                <p>Courses</p>
            </div>
            <form id="Filter-Form-1" class="Form" method="POST">
                <!-- Courses -->
                <div class="Section">
                    <div class="Sub-Section">
                        <label for="" class="Sub-Section-Label">Program</label>
                        <div class="Input">
                            <input type="checkbox" class="Program" name="B-Tech" value="B-Tech" class="Input-Field">
                            <label for="" class="Input-Label">B. Tech</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Program" name="M-Tech" value="M-Tech" class="Input-Field">
                            <label for="" class="Input-Label">M. Tech</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Program" name="PhD" value="PhD" class="Input-Field">                    
                            <label for="" class="Input-Label">PhD</label>
                        </div>
                    </div>
                    <div class="Sub-Section">
                        <label for="" class="Sub-Section-Label">Section</label>
                        <div class="Input">
                            <input type="checkbox" class="Course-Section" name="A" value="A" class="Input-Field">
                            <label for="" class="Input-Label">A</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Course-Section" name="B" value="B" class="Input-Field">
                            <label for="" class="Input-Label">B</label>
                        </div>
                    </div>
                    <div class="Sub-Section">
                        <label for="" class="Sub-Section-Label">Credits</label>
                        <div class="Input">
                            <input type="checkbox" class="Credits" name="1" value="1" class="Input-Field">
                            <label for="" class="Input-Label">1</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Credits" name="2" value="2" class="Input-Field">
                            <label for="" class="Input-Label">2</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Credits" name="3" value="3" class="Input-Field">
                            <label for="" class="Input-Label">3</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Credits" name="4" value="4" class="Input-Field">
                            <label for="" class="Input-Label">4</label>
                        </div>
                    </div>
                    <div class="Sub-Section">
                        <label for="" class="Sub-Section-Label">Department</label>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="CSE" value="CSE" class="Input-Field">
                            <label for="" class="Input-Label">CSE</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="ECE" value="ECE" class="Input-Field">
                            <label for="" class="Input-Label">ECE</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="MTH" value="MTH" class="Input-Field">
                            <label for="" class="Input-Label">MTH</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="BIO" value="BIO" class="Input-Field">
                            <label for="" class="Input-Label">BIO</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="DES" value="DES" class="Input-Field">
                            <label for="" class="Input-Label">DES</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="SSH" value="SSH" class="Input-Field">
                            <label for="" class="Input-Label">SSH</label>                    
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="OTHERS" value="OTHERS" class="Input-Field">
                            <label for="" class="Input-Label">OTHERS</label>
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <input type="submit" value="FILTER" class="Filter-Button">
            </form>
            <div class="Form-Heading">
                <p>Students</p>
            </div>

            <form id="Filter-Form-2" class="Form" method="POST">
                <!-- Students -->
                <div class="Section">
                    <div class="Sub-Section">
                        <label for="" class="Sub-Section-Label">Branches</label>
                        <div class="Input">
                            <input class="Branch" type="checkbox" name="CSE" value="CSE" class="Input-Field">
                            <label for="" class="Input-Label">CSE</label>
                        </div>
                        <div class="Input">
                            <input class="Branch" type="checkbox" name="ECE" value="ECE" class="Input-Field">
                            <label for="" class="Input-Label">ECE</label>
                        </div>
                        <div class="Input">
                            <input class="Branch" type="checkbox" name="CSAM" value="CSAM" class="Input-Field">
                            <label for="" class="Input-Label">CSAM</label>
                        </div>
                        <div class="Input">
                            <input class="Branch" type="checkbox" name="CSB" value="CSB" class="Input-Field">
                            <label for="" class="Input-Label">CSB</label>
                        </div>
                        <div class="Input">
                            <input class="Branch" type="checkbox" name="CSD" value="CSD" class="Input-Field">
                            <label for="" class="Input-Label">CSD</label>
                        </div>
                        <div class="Input">
                            <input class="Branch" type="checkbox" name="CSSS" value="CSSS" class="Input-Field">
                            <label for="" class="Input-Label">CSSS</label>
                        </div>
                    </div>
                    <div class="Sub-Section">
                        <label class="Sub-Section-Label">Year</label>
                        <div class="Input-Group">
                            <select class="Year" name="firstYear" class="Input-Field-Select">
                                <option value="None">None</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                            </select>
                            <p>To</p>
                            <select class="Year" name="secondYear" class="Input-Field-Select">
                                <option value="None">None</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                            </select>
                        </div>
                    </div>
                    <div class="Sub-Section">
                        <label for="" class="Sub-Section-Label">Program</label>
                        
                        <div class="Input">
                            <input class="Program" type="checkbox" name="B-Tech" value="B-Tech" class="Input-Field">
                            <label for="" class="Input-Label">B. Tech</label>
                        </div>
                        <div class="Input"> 
                            <input class="Program" type="checkbox" name="M-Tech" value="M-Tech" class="Input-Field">
                            <label for="" class="Input-Label">M. Tech</label>
                        </div>
                        <div class="Input"> 
                            <input class="Program" type="checkbox" name="PhD" value="PhD" class="Input-Field">                    
                            <label for="" class="Input-Label">PhD</label>   
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <input type="submit" value="FILTER" class="Filter-Button">
            </form>
            <div class="Form-Heading">
                <p>Faculty</p>
            </div>

            <form id="Filter-Form-3" class="Form" method="POST">
                <!-- Faculty -->
                <div class="Section">
                    <div class="Sub-Section">
                        <label for="" class="Sub-Section-Label">Department</label>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="CSE" value="CSE" class="Input-Field">
                            <label for="" class="Input-Label">CSE</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="ECE" value="ECE" class="Input-Field">
                            <label for="" class="Input-Label">ECE</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="MTH" value="MTH" class="Input-Field">
                            <label for="" class="Input-Label">MTH</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="BIO" value="BIO" class="Input-Field">
                            <label for="" class="Input-Label">BIO</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="DES" value="DES" class="Input-Field">
                            <label for="" class="Input-Label">DES</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="SSH" value="SSH" class="Input-Field">
                            <label for="" class="Input-Label">SSH</label>                    
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Department" name="OTHERS" value="OTHERS" class="Input-Field">
                            <label for="" class="Input-Label">OTHERS</label>
                        </div>
                    </div>
                    <div class="Sub-Section">
                        <label for="" class="Sub-Section-Label">Program</label>
                        <div class="Input">
                            <input type="checkbox" class="Program" name="B-Tech" value="B-Tech" class="Input-Field">
                            <label for="" class="Input-Label">B. Tech</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Program" name="M-Tech" value="M-Tech" class="Input-Field">
                            <label for="" class="Input-Label">M. Tech</label>
                        </div>
                        <div class="Input">
                            <input type="checkbox" class="Program" name="PhD" value="PhD" class="Input-Field">                    
                            <label for="" class="Input-Label">PhD</label>
                        </div>
                    </div>
                </div>  
                {% csrf_token %}
                <input type="submit" value="FILTER" class="Filter-Button">
            </form>
        </div>
        <div class="Main-Panel">
            <div id="Panel-Message"></div>
            <div class="Panel-Results">
                <table class="Panel-Table" id="Panel-Table">
                </table>
                // Insert Course from Admin Panel
                <div>
                    <form action="{% url 'Core:insertCourseAdmin' %}" method="POST" id="insertCourseAdmin">
                        <input type="integer" name="id" id="id" class="Input-Field" placeholder="ID">
                        <input type="text" name="section" id="section" class="Input-Field" placeholder="Section">
                        <input type="text" name="courseName" id="courseName" class="Input-Field" placeholder="Course Name">
                        <input type="integer" name="credits" id="credits" class="Input-Field" placeholder="Credits">
                        <input type="integer" name="studentCap" id="studentCap" class="Input-Field" placeholder="Student Cap">
                        <input type="text" name="courseDescription" id="courseDescription" class="Input-Field" placeholder="Course Description">
                        <input type="text" name="program" id="program" class="Input-Field" placeholder="Program">
                        <input type="text" name="department" id="department" class="Input-Field" placeholder="department">
                        {% csrf_token %}
                        <input type="submit" value="Insert" class="Insert-Course-Button">
                    </form>
                </div>
                // Delete Course using Admin Panel
                <div>
                    <form action="{% url 'Core:deleteCourseAdmin' %}" method="POST" id="deleteCourseAdmin">
                        <input type="integer" name="id" id="id" class="Input-Field" placeholder="ID">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="Delete-Course-Button">
                    </form>
                </div>
                // Make Course Live from Admin Panel
                <div>
                    <form action="{% url 'Core:setisLive1' %}" method="POST" id="setisLive1">
                        <input type="integer" name="id" id="id" class="Input-Field" placeholder="ID">
                        {% csrf_token %}
                        <input type="submit" value="Make Live" class="Make-Live-Course-Button">
                    </form>
                </div>
                // Make Course Inactive from Admin Panel
                <div>
                    <form action="{% url 'Core:setisLive0' %}" method="POST" id="setisLive0">
                        <input type="integer" name="id" id="id" class="Input-Field" placeholder="ID">
                        {% csrf_token %}
                        <input type="submit" value="Remove from Live" class="Make-Inactive-Course-Button">
                    </form>
                </div>
                // update studentCap from Admin-panel
                <div>
                    <form action="{% url 'Core:updateCap' %}" method="POST" id="updateCap">
                        <input type="integer" name="id" id="id" class="Input-Field" placeholder="ID">
                        <input type="integer" name="studentCap" id="id" class="Input-Field" placeholder="Student Cap">
                        {% csrf_token %}
                        <input type="submit" value="Update Cap" class="Make-UpdateCap-Course-Button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'JavaScript/admin-script.js' %}"></script>
</html>