<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/courseDescription-style.css' %}">
    <title>haveASeat | CSE101</title>
</head>
<body>
    <div class="Container">
        <div class="Left-Side-Panel">
            <div class="Section-Heading">
                <p>Course Registration</p>
            </div>
            <div class="Section-Heading">
                <p><a href="#" style="text-decoration: none; color: white;">Announcements</a></p>
            </div>
        </div>
        <div class="Main-Panel">
            <div class="Panel-Secion"></div>
            <div class="Panel-Results">
                <table class="Panel-Table">
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Course Code</th>
                        <td class="Panel-Table-Heading">CSE 101</td>
                    </tr>
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Course Name</th>
                        <td class="Panel-Table-Heading">Introduction to Programming</td>
                    </tr>
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Credits</th>
                        <td class="Panel-Table-Heading">4</td>
                    </tr>
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Course Offered to</th>
                        <td class="Panel-Table-Heading">UG/PG</td>
                    </tr>
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Course Description</th>
                        <td class="Panel-Table-Heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                    </tr>
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Pre-requisites</th>
                        <td class="Panel-Table-Heading">
                            <table class="Panel-Table">
                                <tr class="Panel-Table-Row">
                                    <th class="Panel-Table-Heading">Mandatory</th>
                                    <td class="Panel-Table-Heading">Computer Networks</td>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <th class="Panel-Table-Heading">Desirable</th>
                                    <td class="Panel-Table-Heading">Operating System</td>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <th class="Panel-Table-Heading">Other</th>
                                    <td class="Panel-Table-Heading">Advanced Programming</td>
                                </tr>
                            </table>   
                        </td>
                    </tr>
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Post Conditions</th>
                        <td class="Panel-Table-Heading">
                            <table class="Panel-Table">
                                <tr class="Panel-Table-Row">
                                    <th class="Panel-Table-Heading">CO1</th>
                                    <th class="Panel-Table-Heading">CO2</th>
                                    <th class="Panel-Table-Heading">CO3</th>
                                    <th class="Panel-Table-Heading">CO4</th>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading">Students are able to understand and classify various wireless and mobile system.</td>
                                    <td class="Panel-Table-Heading">Students are able to explain the functionalities of various layers in the network stack in the context of wireless communication.</td>
                                    <td class="Panel-Table-Heading">Students are able to design basic simulations and/or experiments involving a wireless network of nodes.</td>
                                    <td class="Panel-Table-Heading">Students are able to explain and discuss routing and transport layer issues over wireless networks and challenges in mobile systems.</td>
                                </tr>
                            </table>   
                        </td>
                    </tr>
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Weekly Lecture Plan</th>
                        <td class="Panel-Table-Heading">
                            <table class="Panel-Table">
                                <tr class="Panel-Table-Row">
                                    <th class="Panel-Table-Heading">Week Number</th>
                                    <th class="Panel-Table-Heading">Lecture Topic</th>
                                    <th class="Panel-Table-Heading">COs Met</th>
                                    <th class="Panel-Table-Heading">Assignment/Labs/Tutorial/Demonstration</th>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading">1</td>
                                    <td class="Panel-Table-Heading">Course overview, overview of wireless and mobile system</td>
                                    <td class="Panel-Table-Heading">C01</td>
                                    <td class="Panel-Table-Heading"></td>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading">1</td>
                                    <td class="Panel-Table-Heading">Course overview, overview of wireless and mobile system</td>
                                    <td class="Panel-Table-Heading">C01</td>
                                    <td class="Panel-Table-Heading"></td>
                                </tr>
                            </table>   
                        </td>
                    </tr>
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Weekly Lab Plan</th>
                        <td class="Panel-Table-Heading">
                            <table class="Panel-Table">
                                <tr class="Panel-Table-Row">
                                    <th class="Panel-Table-Heading">Weekly Number</th>
                                    <th class="Panel-Table-Heading">Laboratory Exercise</th>
                                    <th class="Panel-Table-Heading">COs Met</th>
                                    <th class="Panel-Table-Heading">Platform (Hardware/Software)</th>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading"></td>
                                    <td class="Panel-Table-Heading"></td>
                                    <td class="Panel-Table-Heading"></td>
                                    <td class="Panel-Table-Heading"></td>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading"></td>
                                    <td class="Panel-Table-Heading"></td>
                                    <td class="Panel-Table-Heading"></td>
                                    <td class="Panel-Table-Heading"></td>
                                </tr>
                            </table>   
                        </td>
                    </tr>
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Assessment Plan</th>
                        <td class="Panel-Table-Heading">
                            <table class="Panel-Table">
                                <tr class="Panel-Table-Row">
                                    <th class="Panel-Table-Heading">Type of Evaluation</th>
                                    <th class="Panel-Table-Heading">% Contribution in Grade</th>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading">Assignment</td>
                                    <td class="Panel-Table-Heading">15</td>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading">Project</td>
                                    <td class="Panel-Table-Heading">35</td>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading">MidSem</td>
                                    <td class="Panel-Table-Heading">30</td>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading">EndSem</td>
                                    <td class="Panel-Table-Heading">30</td>
                                </tr>
                            </table>   
                        </td>
                    </tr>
                    <tr class="Panel-Table-Row">
                        <th class="Panel-Table-Heading">Resource Material</th>
                        <td class="Panel-Table-Heading">
                            <table class="Panel-Table">
                                <tr class="Panel-Table-Row">
                                    <th class="Panel-Table-Heading">Type</th>
                                    <th class="Panel-Table-Heading">Title</th>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading">Reference</td>
                                    <td class="Panel-Table-Heading">ABC</td>
                                </tr>
                                <tr class="Panel-Table-Row">
                                    <td class="Panel-Table-Heading">Reference</td>
                                    <td class="Panel-Table-Heading">XYZ</td>
                                </tr>
                            </table>   
                        </td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'JavaScript/admin-script.js' %}"></script>
</html>