<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/student-style.css' %}">
    <title>haveASeat | Student Panel</title>
</head>
<body>
    <div class="Container">
        <div class="Left-Side-Panel">
            <form action="{% url 'Core:filterCourses' %}" method="POST" id="filterCourses">
                {% csrf_token %}
            <div class="Section-Heading">
                <p>Courses</p>
            </div>
            <div class="Section">
                <div class="Sub-Section">
                    <label for="" class="Sub-Section-Label">Program</label>
                    <div class="Input">
                        <input type="checkbox" name="B-Tech" class="Input-Field" value="B-Tech">
                        <label for="" class="Input-Label">B. Tech</label>
                    </div>
                    <div class="Input">
                        <input type="checkbox" name="M-Tech" class="Input-Field" value="M-Tech">
                        <label for="" class="Input-Label">M. Tech</label>
                    </div>
                    <div class="Input">
                        <input type="checkbox" name="PhD" class="Input-Field" value="PhD">                    
                        <label for="" class="Input-Label">PhD</label>
                    </div>
                </div>
                <div class="Sub-Section">
                    <label for="" class="Sub-Section-Label">Credits</label>
                    <div class="Input">
                        <input type="checkbox" name="cred4" class="Input-Field" value="4">
                        <label for="" class="Input-Label">4</label>
                    </div>
                    <div class="Input">
                        <input type="checkbox" name="cred2" class="Input-Field" value="2">
                        <label for="" class="Input-Label">2</label>
                    </div>
                </div>
            </div>
            <input type="submit" value="FILTER" class="Enroll-Button" style="margin-right: 20%; width: 70%;">
            </form>
        </div>
        {% block content %}
        <div class="Main-Panel">
            <form action="{% url 'Core:deleteCourses' %}" method="POST" id="deleteCourses">
                {% csrf_token %}
                <div class="Panel-Results">
                    <table class="Panel-Table">
                        <tr class="Panel-Table-Row">
                            <th class="Panel-Table-Heading">S No.</th>
                            <th class="Panel-Table-Heading">Course Code</th>
                            <th class="Panel-Table-Heading">Course Name</th>
                            <th class="Panel-Table-Heading">Credits</th>
                            <th class="Panel-Table-Heading">Offered To</th>
                            <!-- <th class="Panel-Table-Heading">Enroll</th> -->
                            <th class="Panel-Table-Heading">Remove</th>
                        </tr>
                        
                        {% for course in courseList %}
                        <tr class="Panel-Table-Row">
                            {% if course != None %}
                            <td class="Panel-Table-Heading" name="id">{{course.id}}</td>
                            <td class="Panel-Table-Heading">{{course.code}}</td>
                            <td class="Panel-Table-Heading">{{course.courseName}}</td>
                            <td class="Panel-Table-Heading">{{course.credits}}</th>
                            <td class="Panel-Table-Heading">{{course.program}}</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="courses" name="courseList" value="{{course.id}}">
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- <input type="submit" value="Enroll" class="Enroll-Button"> -->
                <input style="margin-right:10px;" type="submit" value="Delete" class="Enroll-Button">
            </form>
        </div>
        {% endblock %}
    </div>
</body>
<script src="{% static 'JavaScript/admin-script.js' %}"></script>
</html>
