<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/student-style.css' %}">
    <title>haveASeat | Student Panel</title>
</head>
<body>
    <div class="Container">
        <div class="Left-Side-Panel">
            <div class="Section-Heading">
                <p>Course Registration</p>
            </div>
            <div class="Section-Heading">
                <p><a href="#" style="text-decoration: none; color: white;">Announcements</a></p>
            </div>
        </div>
        <div class="Main-Panel">
            <form action="#" method="POST">
                <div class="Panel-Results">
                    <table class="Panel-Table">
                        <tr class="Panel-Table-Row">
                            <th class="Panel-Table-Heading">S. No</th>
                            <th class="Panel-Table-Heading">Course Code</th>
                            <th class="Panel-Table-Heading">Course Name</th>
                            <th class="Panel-Table-Heading">Credits</th>
                            <th class="Panel-Table-Heading">Offered To</th>
                            <th class="Panel-Table-Heading">Enroll</th>
                        </tr>
                        <tr class="Panel-Table-Row">
                            <td class="Panel-Table-Heading">X</td>
                            <td class="Panel-Table-Heading">CSEXXX</td>
                            <td class="Panel-Table-Heading">Introduction to Programming</td>
                            <td class="Panel-Table-Heading">4</th>
                            <td class="Panel-Table-Heading">UG/PG</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="CXXX" name="CXXX" value="CXXX">
                            </td>
                        </tr>
                        <tr class="Panel-Table-Row">
                            <td class="Panel-Table-Heading">X</td>
                            <td class="Panel-Table-Heading">CSEXXX</td>
                            <td class="Panel-Table-Heading">Introduction to Programming</td>
                            <td class="Panel-Table-Heading">4</th>
                            <td class="Panel-Table-Heading">UG/PG</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="CXXX" name="CXXX" value="CXXX">
                            </td>
                        </tr>
                        <tr class="Panel-Table-Row">
                            <td class="Panel-Table-Heading">X</td>
                            <td class="Panel-Table-Heading">CSEXXX</td>
                            <td class="Panel-Table-Heading">Introduction to Programming</td>
                            <td class="Panel-Table-Heading">4</th>
                            <td class="Panel-Table-Heading">UG/PG</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="CXXX" name="CXXX" value="CXXX">
                            </td>
                        </tr>
                        <tr class="Panel-Table-Row">
                            <td class="Panel-Table-Heading">X</td>
                            <td class="Panel-Table-Heading">CSEXXX</td>
                            <td class="Panel-Table-Heading">Introduction to Programming</td>
                            <td class="Panel-Table-Heading">4</th>
                            <td class="Panel-Table-Heading">UG/PG</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="CXXX" name="CXXX" value="CXXX">
                            </td>
                        </tr>
                        <tr class="Panel-Table-Row">
                            <td class="Panel-Table-Heading">X</td>
                            <td class="Panel-Table-Heading">CSEXXX</td>
                            <td class="Panel-Table-Heading">Introduction to Programming</td>
                            <td class="Panel-Table-Heading">4</th>
                            <td class="Panel-Table-Heading">UG/PG</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="CXXX" name="CXXX" value="CXXX">
                            </td>
                        </tr>
                        <tr class="Panel-Table-Row">
                            <td class="Panel-Table-Heading">X</td>
                            <td class="Panel-Table-Heading">CSEXXX</td>
                            <td class="Panel-Table-Heading">Introduction to Programming</td>
                            <td class="Panel-Table-Heading">4</th>
                            <td class="Panel-Table-Heading">UG/PG</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="CXXX" name="CXXX" value="CXXX">
                            </td>
                        </tr>
                        <tr class="Panel-Table-Row">
                            <td class="Panel-Table-Heading">X</td>
                            <td class="Panel-Table-Heading">CSEXXX</td>
                            <td class="Panel-Table-Heading">Introduction to Programming</td>
                            <td class="Panel-Table-Heading">4</th>
                            <td class="Panel-Table-Heading">UG/PG</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="CXXX" name="CXXX" value="CXXX">
                            </td>
                        </tr>
                        <tr class="Panel-Table-Row">
                            <td class="Panel-Table-Heading">X</td>
                            <td class="Panel-Table-Heading">CSEXXX</td>
                            <td class="Panel-Table-Heading">Introduction to Programming</td>
                            <td class="Panel-Table-Heading">4</th>
                            <td class="Panel-Table-Heading">UG/PG</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="CXXX" name="CXXX" value="CXXX">
                            </td>
                        </tr>
                        <tr class="Panel-Table-Row">
                            <td class="Panel-Table-Heading">X</td>
                            <td class="Panel-Table-Heading">CSEXXX</td>
                            <td class="Panel-Table-Heading">Introduction to Programming</td>
                            <td class="Panel-Table-Heading">4</th>
                            <td class="Panel-Table-Heading">UG/PG</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="CXXX" name="CXXX" value="CXXX">
                            </td>
                        </tr>
                    </table>
                </div>
                <input type="submit" value="Enroll" class="Enroll-Button">
            </form>
        </div>
    </div>
</body>
<script src="{% static 'JavaScript/admin-script.js' %}"></script>
</html>