<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/student-style.css' %}">
    <title>haveASeat | Student Panel</title>
</head>
<body>
    <div class="Container">
        <div class="Left-Side-Panel">
            <form action="#" method="POST">
            <div class="Section-Heading">
                <p>Courses</p>
            </div>
            <div class="Section">
                <div class="Sub-Section">
                    <label for="" class="Sub-Section-Label">Program</label>
                    <div class="Input">
                        <input type="checkbox" name="B-Tech" class="Input-Field">
                        <label for="" class="Input-Label">B. Tech</label>
                    </div>
                    <div class="Input">
                        <input type="checkbox" name="M-Tech" class="Input-Field">
                        <label for="" class="Input-Label">M. Tech</label>
                    </div>
                    <div class="Input">
                        <input type="checkbox" name="PhD" class="Input-Field">                    
                        <label for="" class="Input-Label">PhD</label>
                    </div>
                </div>
                <div class="Sub-Section">
                    <label for="" class="Sub-Section-Label">Credits</label>
                    <div class="Input">
                        <input type="checkbox" name="B-Tech" class="Input-Field">
                        <label for="" class="Input-Label">4</label>
                    </div>
                    <div class="Input">
                        <input type="checkbox" name="M-Tech" class="Input-Field">
                        <label for="" class="Input-Label">2</label>
                    </div>
                </div>
            </div>
            <input type="submit" value="FILTER" class="Filter-Button">
            </form>
        </div>
        <div class="Main-Panel">
            <form action="#" method="POST">
                <div class="Panel-Results">
                    <table class="Panel-Table">
                        <tr class="Panel-Table-Row">
                            <th class="Panel-Table-Heading">S No.</th>
                            <th class="Panel-Table-Heading">Course Code</th>
                            <th class="Panel-Table-Heading">Course Name</th>
                            <th class="Panel-Table-Heading">Credits</th>
                            <th class="Panel-Table-Heading">Offered To</th>
                            <th class="Panel-Table-Heading">Enroll</th>
                        </tr>
                        
                        {% for course in courseList %}
                        <tr class="Panel-Table-Row">
                            <td class="Panel-Table-Heading">{{course.id}}</td>
                            <td class="Panel-Table-Heading">{{course.code}}</td>
                            <td class="Panel-Table-Heading">{{course.courseName}}</td>
                            <td class="Panel-Table-Heading">{{course.credits}}</th>
                            <td class="Panel-Table-Heading">{{course.program}}</td>
                            <td class="Panel-Table-Heading">
                                <input type="checkbox" id="CXXX" name="CXXX" value="CXXX">
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <input type="submit" value="Enroll" class="Enroll-Button">
            </form>
        </div>
    </div>
</body>
<script src="{% static 'JavaScript/admin-script.js' %}"></script>
</html>
